@yellow: #fffa19;
@red: #f54242;
@green: #08bf1a;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.padd(@ptop: 0px , @pright: 0px) {
  padding-top: @ptop;
  padding-right: @pright;
}

.jumbotron {
    background-color: @red;
    color: black;
    .margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @green;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    .padd(10px, 0px);
}

.tab-content {
  .padd(0px, 10px);
}
